<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.pinterest.PINOperationQueue</string>
	<key>CFBundleName</key>
	<string>PINOperationQueue 1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>PINOperationQueue Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>4.3</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.pinterest.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Pinterest</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Pinterest. All rights reserved.</string>
</dict>
</plist>
